


.banner {
    width: 1320px;
    height: 600px;
    background-image: url("resources/Banner\ Image.png");
    margin: 0px auto;

}

.banner-content .new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;

}

.banner-content .celebration {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin: 0;


}

.banner-content {
    background-image: linear-gradient(180deg, #070211 0%, rgba(10, 5, 23, 0.00) 100%);
    text-align: center;
    border-radius: 16px;
}



.off {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;

}

.description {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;

}

.catagories {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;

}

.images {
    margin: 0px auto;
    width: 802.9px;


}




.wellcome {
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding-left: 130px;
    padding-top: 130px;
    margin-bottom: 0px;



}


.wellcomeone {
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding-left: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcomedes {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-left: 130px;
    padding-right: 30px;
    margin-top: 5px;
}

.join {
    color: white;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 130px;
}

.secondbanner {
    width: 1320px;
    height: 600px;
    background-image: url("resources/Vectorrr.png");
    margin: 0px auto;
    display: flex;
    margin-top: 120px;

}

.secondbanner-contant {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.image-for {

    width: 319.83px;
    height: 464.662px;
    padding-top: 100px;
    padding-right: 150px;
    display: flex;


}

.section-three {
    width: 1320px;
    height: 482px;
    margin: 0px auto;
    margin-top: 120PX;

}

.section-writing {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.section-writing {
    text-align: center;
    padding-top: 100px;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 32px;
}

span {
    color: #F00;
}


.btn {
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 20px;
}

/* .eellipse {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
   
}  */

.four-contant {
    width: 1320px;
    height: 482px;
    margin: 0px auto;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.four-first .first-title {
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;

}

.firt-main {
    color: #070211;
    font-size: 48px;
    font-weight: 900;

}

.firstdes {
    color: black;
    font-size: 20px;
    width: 393px;

}

.four-second .main-image {
    width: 364.844px;
    height: 364.844px;
}

.tit {
    color: #F00;
    font-size: 48px;
    font-weight: 700;

}

.describ {
    color: black;
    width: 276px;
    font-size: 20px;


}

.newyear {
    width: 140px;
    height: 140px;
}

.holiday-sale. {
    width: 1320px;
    height: 5335px;

}

.top-text {
    text-align: center;



}

.top {
    color: #070211;
    font-size: 24px;
    margin-bottom: 5px;
}

.top-two {
    color: #F00;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 5px;

}

.top-twotwo {
    color: black;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 5px;

}

.top-des {
    /* width: 800px; */
    color: black;
    font-size: 20px;
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    margin-top: 0px;

}

/* portfolio */

.porfolio {
    width: 1320px;
    /* height: 7335px; */
    background-color: white;
    margin: 0px auto;
    margin-top: 120px;


}

.portfolio-text {}

.gift {
    color: #F00;
    font-size: 24px;
    margin-bottom: 5px;

}

.awsome {
    color: #070211;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 5px;

}

.portfolio-des {
    width: 896px;
    font-size: 20px;
    color: black;
    margin-top: 0px;
}

.images-section .portfolio-images {
    width: 424px;
    height: 450px;

}

.images-section {

    display: flex;


}

.images-section-two {
    display: flex;
}

.portfolio-images {
    padding: 15px;
}


/* form-section design  */

.form {
    width: 1320px;
    height: 616px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 0px auto;
    margin-top: 120px;


}

.form-image {
    text-align: center;
    padding-top: 80px;

}

.form-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}


.form-des {
    color: black;
    text-align: center;
    font-size: 20px;
    width: 850px;
    margin: 0px auto;
    margin-top: 0px;
}

.input-button {
    margin-top: 50px;
    text-align: center;
}

.mailsection {
    width: 620px;
    height: 72px;
    border: none;
    outline: none;
    font-size: 25px;
    padding-left: 30px;
}

.sbtn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    width: 210px;
    height: 72px;



}

.main-footer {
    width: 1600px;
    /* height: 609px; */
    background-color: black;
    margin-top: 120px;


}

.bigbuilding {
    color: white;
    font-size: 22px;
    width: 350px;
    padding-top: 140px;
    padding-left: 140px;




}

.footerfirst-section {
    display: flex;
    justify-content: space-between;

}

.contact {
    color: white;
    font-size: 24px;
    text-align: right;
    /* margin-top: 150px; */
    padding-top: 140px;
    padding-right: 300px;

}

.phone {
    margin-bottom: 5px;
}

.web {
    margin-top: 0px;
}


.icon-section {
    display: flex;
    width: 64px;
    height: 64px;
    margin: 0px auto;
    margin-top: 100px;
}

.icon-section .soical-media{
    padding: 48px 5px;
}

.all-right{
    color: white;
    font-size: 24px;
    padding-left: 140px;
}

.unsub{
    color: white;
    font-size: 24px;
    padding-left: 800px;
}

.last-footer{
    display: flex;
    justify-content: space-betweens;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
}